<nav class="navbar">
    <div class="nav-brand">Omegle Clone</div>
    <div class="nav-links">
        <!-- JavaScript will populate this area -->
    </div>
</nav>
<script src="/js/navbar.js"></script>
